*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}
.About {
    padding: 4rem 0;
  }

.h1 {
  font-size: 3rem;
  font-weight: bold;
}
  
  .Heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
  
  .subHeading {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .containe {
    border-radius: 100px;
    background-color: #f2f2f2;
    padding: 50px;
  }

  
  