* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.container1 {
  width: 100%;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-urls{
  width: 100%;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #000000;
  transition: background-color 0.2s ease-in-out;


}
.container1 {
  width: 100%;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginForm {
  width: 500px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm h4 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.loginForm label {
  font-size: 16px;
  margin-bottom: 10px;
}

.textInput {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #000000;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #b0b0b0;
}

.logo {
  height: 70px;
}

.category {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}


.info {
  font-size: 18px;
  margin-bottom: 20px;
}

span122{

  padding-left: 600px;
  text-align: right;
 }