
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}
.Home {
  padding: 5rem 0;
}

.h1 {
font-size: 3rem;
font-weight: bold;
}
.h3 {
  
  font-size: 6rem;
  font-weight: bold;
  
  
  }
  .loginForm13 {
    width: 620px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 50px;
    display:grid;
    flex-direction: column;
    align-items: center;
  }
  .App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(6px + 1vmin);
    color: white;
  }
.product{
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  
}
.Quiz-maker {

  display: flex;
  margin-top: 80px;
}
.left-colomon,.right-column{
  
flex-basis: 50%;

}


.right-column img{
  width: 100%;

}



form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 10%;
  padding: 15px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}



.left-colomon h1{
  
  font-size: 50px;
  text-align: center;
  margin: 20px 0;
  }
  .left-colomon h3{
    font-size: 35px;
    text-align: center;
    }
  span {
    color: #25208b;

  }
  .left-colomon p{
    font-size: 15px;
    color: #999;
    margin: 50px 0;
    }

    .link{
      text-transform: capitalize;
      padding: 0 10px;
      margin: 0 5px;
      text-decoration: none;
      color: #000000;
      transition: .5s;
    }
    
    .link:hover{
      opacity: 10;
    }
    span20{

      padding-left: 700px;
      text-align: right;
     }
    