
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}
.Quiz-maker {
  padding: 1rem 0;

  display: flex;
  margin-top: 20px;
}

.h1 {


font-size: 3rem;
font-weight: bold;

}
.h3 {
  
  font-size: 6rem;
  font-weight: bold;
  
  }
.product{
  position: relative;
  overflow: hidden;
  padding: 60px 0;
  background: #d8e0e0;

}
.left-colomon,.right-column{
flex-basis: 60%;

}


.right-column video{
  width: 90%;

}

form.search input[type=text] {
  padding: 10px;
  
  font-size: 17px;
  border: 1px solid #f1f1f1;
  float: left;
  width: 40%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 100%;
  padding: 1px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}


.span7{

  padding-right: 100px;
  text-align: center;
}
    

div.center {

  text-align: center;
  
  }